@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: url("images/bg2.jpg") no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #21293a;
  color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

header .logo {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
}

header .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar a {
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 05px;
  color: #fff;
  letter-spacing: 1px;
}

header .navbar a:hover,
.active {
  background: #2c3e50;
  transition: 0.6s;
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section h2 {
  color: #fff;
  font-size: 10rem;
  letter-spacing: 0.9rem;
  text-align: center;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header .btn {
    display: block;
  }

  header .navbar {
    position: fixed;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    background: #2c3e50;
    top: 0;
    right: -100%;
    transition: all 0.9s;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10rem;
  }

  header .navbar.active2 {
    right: 0;
    transition: 0.9s;
  }

  header .navbar .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .navbar a {
    display: block;
    font-size: 1.9rem;
    margin: 15px;
    padding: 0.5rem 15px;
  }

  header .navbar a:hover {
    background: #21293a;
    color: #fff;
  }

  header .logo {
    font-size: 25px;
    font-weight: 500;
  }

  section h2 {
    color: #fff;
    font-size: 5rem;
    padding: 2rem;
    letter-spacing: 0.9rem;
    text-align: center;
  }
}